apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: search-service-monitor
  labels:
     app: search-service
spec:
  selector:
    matchLabels:
      app: search-service
  endpoints:
  - port: "search-service"
    path: /api/search/metrics